@inherits OrdersBase
@page "/orders"

<FluentToolbar id="toolbar-slotted-label">
	<span slot="label">@PubSubStatus</span>
	<FluentButton Appearance="Appearance.Accent" OnClick="@StartPubSubAsync">Call the Brewer</FluentButton>
	<FluentButton Appearance="Appearance.Accent" OnClick="@StopPubSubAsync">Say Hello to the Brewer</FluentButton>
	<FluentButton Appearance="Appearance.Accent" OnClick="@OrderBeerAsync">Order a Beer</FluentButton>
</FluentToolbar>
<br/>
<hr/>
<FluentStack>
	<div hidden="@HideWaitingForNewOrder">
		<FluentCard Width="600px" Height="400px">
			<FluentButton Appearance="Appearance.Accent">@TellEveryoneThatClientIsConnected</FluentButton>
			<hr/>
			<image src="images/A_brewer_is_waiting_for_new_orders_1.jpg" />
		</FluentCard>
	</div>
		<div hidden="@HideOrderAccepted">
		<FluentCard Width="600px" Height="400px" AreaRestricted="false">
			<FluentButton Appearance="Appearance.Accent">@TellEveryoneThatBrewOrderWasApproved</FluentButton>
			<hr />
				<image src="images/A_brewer_is_happy_because_has_received_a_new_order.jpg" />
		</FluentCard>
	</div>

</FluentStack>
<br />
<FluentStack>
	<div hidden="@HideOrderProcessed">
		<FluentCard Width="600px" Height="400px">
			<FluentButton Appearance="Appearance.Accent">@TellEveryoneThatBrewOrderWasProcessed</FluentButton>
			<hr />
				<image src="images/Beer_drinker_waiting_for_a_beer_1.jpg" />
		</FluentCard>
	</div>
	
		<div hidden="@HideSagaCompleted">
		<FluentCard Width="600px" Height="400px" AreaRestricted="false">
			<FluentButton Appearance="Appearance.Accent">@TellEveryoneThatBrewOrderSagaWasCompleted</FluentButton>
			<hr />
				<image src="images/Beer_drinker_happy_to_drink_his_beer_0.jpg" />
		</FluentCard>
	</div>
</FluentStack>