@inherits OrdersBase
@page "/orders"

<FluentToolbar id="toolbar-slotted-label">
	<span slot="label">@SignalRStatus</span>
	<FluentButton Appearance="Appearance.Accent" OnClick="@StartSignalRAsync">Call Brewer</FluentButton>
	<FluentButton Appearance="Appearance.Accent">Order a Beer</FluentButton>
</FluentToolbar>
<br/>
<hr/>
<FluentStack>
	<div hidden="@HideWaitingForNewOrder">
		<FluentCard Width="600px" Height="400px">
			<FluentButton Appearance="Appearance.Accent">@TellEveryoneThatClientIsConnected</FluentButton>
			<hr/>
			<image src="images/A_brewer_is_waiting_for_new_orders_1.jpg" />
		</FluentCard>
	</div>
		<div hidden="@HideOrderAccepted">
		<FluentCard Width="600px" Height="400px" AreaRestricted="false">
			<FluentButton Appearance="Appearance.Accent">@TellEveryoneThatBrewOrderSagaWasStarted</FluentButton>
			<hr />
			<image src="images/A_brewer_is_happy_because_has_received_a_3.jpg"/>
		</FluentCard>
	</div>

</FluentStack>
<br />
<FluentStack>
	<div hidden="@HideOrderProcessed">
		<FluentCard Width="600px" Height="400px">
			<FluentButton Appearance="Appearance.Accent">@TellEveryoneThatBrewOrderWasProcessed</FluentButton>
			<hr />
			<image src="images/A_brewer_is_happy_because_has_received_a_3.jpg"/>
		</FluentCard>
	</div>
	
		<div hidden="@HideSagaCompleted">
		<FluentCard Width="600px" Height="400px" AreaRestricted="false">
			<FluentButton Appearance="Appearance.Accent">@TellEveryoneThatBrewOrderSagaWasCompleted</FluentButton>
		</FluentCard>
	</div>
</FluentStack>
